/* p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto;
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
} */

/* .nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .nav-logo img {
    width: 200px;
} */

/* .nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
} */

.myImg {
    width: 300px;
    height: 275px;
}

.aboutImg {
    width: 350px;
    height: 350px;
}

.home-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #6D98BA
}

.about {
    background-color: #9AADBF
}

section {
    padding: 160px 15% 120px;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #385775;
    border-radius: 5px;
    color: #ccc;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
    text-decoration: none;
}

.btn:hover {
    transform: scale(0.9);
}

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}