<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    <header>
        {% include "navigation.html" %}
    </header>

    <style>

    </style>



    <div class="container">
        <h1>My Projects</h1>
        <ul class="timeline">
            <li>
                <div class="timeline-badge" style="background-color: #1f1a38;"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Swish-Sesh</h4>
                        <p>React | MongoDB | Express | Tailwind | GoogleAuth | Stripe
                        </p>
                        <p><small class="text-muted">Swish-Sesh is an application built for a local baskeball meetup in
                                Georgia</small></p>
                    </div>
                    <div class="timeline-body" id="layer">
                        <img class="img" src="../static/img/Swish-sesh.png" alt="">
                        <div class="icons">
                            <a class="githublink" href="https://github.com/mannyaalonso/swish-sesh"><i
                                    class='bx bxl-github' style="font-size: 60px;"></i></a>
                            <a href="https://swish-sesh.herokuapp.com/"><i class='bx bx-link-external'
                                    style="font-size: 60px;"></i></a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge" style="background-color: #1f1a38;"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Med-Minder</h4>
                        <p>React | MongoDB | Express | Node | CSS
                        </p>
                        <p><small class="text-muted">Med-Minder is an application that allows healthcare administration
                                to personalized a list of
                                medications for each
                                patient. Within each medication added, you are able to include prescription
                                directions.</small></p>
                    </div>
                    <div class="timeline-body" id="layer">
                        <img class="img" src="../static/img/MedMinder.png" alt="">
                        <div class="icons">
                            <a class="githublink" href="https://github.com/tinayang15/Med-Minder"><i
                                    class='bx bxl-github' style="font-size: 60px;"></i></a>
                            <a href="https://med-minder.herokuapp.com/"><i class='bx bx-link-external'
                                    style="font-size: 60px;"></i></a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge" style="background-color: #1f1a38;"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">CodeUp</h4>
                        <p>React | PostgreSQL | Express | CSS | UserAuth | Sequelize
                        </p>
                        <p><small class="text-muted">CodeUp is an application designed for software engineers to monitor
                                their educational progress
                                and skill acquisition.
                                With CodeUp, users can easily create an account, log in to their dashboard, and keep
                                track
                                and
                                make note of their skills
                                and lessons.</small></p>
                    </div>
                    <div class="timeline-body" id="layer">
                        <img class="img" src="../static/img/CodeUp.png" alt="">
                        <div class="icons">
                            <a class="githublink" href="https://github.com/fuentesdominic/CodeUp"><i
                                    class='bx bxl-github' style="font-size: 60px;"></i></a>
                            <a href="https://code-up.vercel.app/register"><i class='bx bx-link-external'
                                    style="font-size: 60px;"></i></a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="timeline-badge" style="background-color: #1f1a38;"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Math Enchanter</h4>
                        <p>HTML | CSS | JavaScript
                        </p>
                        <p><small class="text-muted">Math Enchanter is a game that tests your ability to do addition
                                math using single and double
                                digit numbers. This game
                                consist of 3 different levels and your end-goal is to become a pure-blood
                                Enchanter.</small></p>
                    </div>
                    <div class="timeline-body" id="layer">
                        <img class="img" src="../static/img/MatchEnchanter.png" alt="">
                        <div class="icons">
                            <a class="githublink" href="https://github.com/tinayang15/Math-Enchanter"><i
                                    class='bx bxl-github' style="font-size: 60px;"></i></a>
                            <a href="http://math-enchanter.surge.sh/index.html"><i class='bx bx-link-external'
                                    style="font-size: 60px;"></i></a>
                        </div>
                    </div>
                </div>
            </li>

    </div>

    {% include "scripts.html" %}
</body>

</html>