<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <title>My Hobbies</title>
</head>

<body>
    <header>
        {% include "navigation.html" %}
    </header>
    <section class="hobbies-sect">
        <div class="hobbies">
            <div class="hobbies-text">
                <p>In my free time I enjoy playing guitar and making music.</p>
            </div>
            <div class="hobbies-img">
                <img src="../static/img/guitar_pic.jpg" alt="" class="aboutImg">
            </div>
        </div>
    </section>
    {% include "scripts.html" %}
</body>

</html>