<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    <header>
        {% include "navigation.html" %}
    </header>

    <section class="home" id="home">
        <div class="home-text">
            <div id="profile-picture" class="profile-picture">
                <img src="../static/img/caleb_img2.jpg" alt="" class="myImg">
            </div>
            <div class="intro">
                <h1><span class="one">Hello, I'm </span>{{ name }}</h1>
                <h3>Product Engineer.</h3>
                <p> As a driven and inventive product engineer, my unwavering passion lies in the realms of site
                    reliability
                    and scalable solutions. With a steadfast commitment to excellence, I continuously seek opportunities
                    to
                    push boundaries and deliver impactful results.</p>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="aboutSection">
            <div class="about-text">
                <h2> About Me</h2>
                <h4>Product Engineer</h4>
                <p> I am a highly motivated and creative product engineer with a passion for site reliability and
                    scalable
                    solutions. I attended Syracuse University, majoring in Computer Science, where I honed my technical
                    skills and gained a deep understanding of software development. With a commitment to excellence, I
                    continuously seek opportunities to push boundaries and deliver impactful results. I thrive in
                    dynamic
                    environments that require adaptability, collaboration, and a strong drive for continuous
                    improvement. My
                    goal is to leverage my expertise in product engineering to create reliable and innovative solutions
                    that
                    make a positive difference.</p>
                <!-- Insert resume link -->
                <a href="https://docs.google.com/document/d/1mJEKAtmQFZ8jnNEtqdYkdHdxJ9bb9H_eLTzI39-XRR8/export?format=pdf"
                    class="btn"> Download my resume!</a>
            </div>
            <div class="about-img">
                <img src="../static/img/caleb_img1.png" alt="" class="aboutImg">
            </div>
        </div>
    </section>
    {% include "scripts.html" %}
</body>

</html>