<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    <header>
        {% include "navigation.html" %}
    </header>
    <div class="postForm">
        <form action="/api/timeline_post" method="post">
            <div class="row mb-3">
                <label for="projectName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="projectName" name="name" placeholder="Your Name"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="toolsUsed" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="toolsUsed" name="email" placeholder="Enter Email"
                        required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="imageURL" class="col-sm-2 col-form-label">Image URL</label>
                <div class="col-sm-3">

                    <input type="text" class="form-control" id="imageURL" name="image" placeholder="Image URL" required>
                </div>
            </div>
            <div class="row mb-7">
                <label for="projectDescription" class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-3">
                    <textarea class="form-control" id="projectDescription" name="content"
                        placeholder="Tell me what's on your mind!" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>


    <h1>My Timeline</h1>
    {% for post in timeline_posts %}
    <!-- <div class="container"> -->
    <ul class="timeline">
        <li>
            <div class="timeline-badge" style="background-color: #1f1a38;"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{post.name}}</h4>
                    <p>{{post.email}}</p>
                    <p><small class="text-muted">{{post.content}}</small></p>
                </div>
                <div class="timeline-body" id="layer">
                    <img class="img" src="{{post.image}}" alt="">
                </div>
            </div>
        </li>

        {% endfor %}

        <!-- </div> -->

        {% include "scripts.html" %}
</body>

</html>