<form action="/api/timeline_post" method="post">
    <input type="text" name="name" placeholder="Project Name" required>
    <input type="text" name="tool" placeholder="Tools Used" required>
    <textarea name="content" placeholder="Write a brief description of project!" required></textarea>
    <input type="text" name="image" placeholder="Image URL" required>
    <input type="text" name="github" placeholder="GitHub URL" required>
    <input type="text" name="deploy" placeholder="Deploy URL" required>
    <button type="submit">Create Post</button>
</form>