<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    <header>
        {% include "navigation.html" %}
    </header>

    <div class="container">
        <h1>Work Experience</h1>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Site Reliability Engineer Intern | Major League Hacking</h4>
                        <p><small class="text-muted">June 2023 - Current</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Collaborated effectively within cross-functional teams, communicating technical concepts
                            clearly to
                            developers,
                            operations staff, and stakeholders. Demonstrated strong problem-solving and analytical
                            thinking abilities, employing data-driven
                            decision-making to optimize
                            performance and reliability.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Physics Coach | Syracuse University College of Arts and Sciences</h4>
                        <p><small class="text-muted">Jan 2023 - Current</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Co-teaches three physics recitations of 25 students each in bi-weekly recitations, and guides
                            students through work
                            packet. Collaborates with 10 facilitators through weekly work packet to prepare for physic
                            recitations. Develops and prototypes course material for course professor to intergrade
                            computational skills into
                            Physics 211
                            curriculum</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">AEW Facilitator | Syracuse University College of Engineering and
                            Computer Science</h4>
                        <p><small class="text-muted">Aug 2023 - Jan 2023</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Prepare calculus course material ahead of the assigned workshop to reinforce class topics and
                            formulae appropriate responses to potential participant questions. Provide a collaborative
                            learning environment by utilizing leadership skills and in-depth knowledge
                            of
                            the subject area to make group learning
                            (6-9 students) fun and enable them to relate concepts to math, engineering, and computer
                            science. Facilitate and manage the group dynamics of a weekly small group workshop by
                            coaching participants
                            to focus on subject mastery vs. memory </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Early Quantum Career Immersion: Training and Internship Program
                            Participant | IBM</h4>
                        <p><small class="text-muted">Jun 2022 - Aug 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Problem-solving and Analytical Thinking in Quantum Computing. Continuous Learning and Keeping
                            Abreast of Quantum Computing Advancements. Quantum Hardware Understanding (superconducting
                            qubits, trapped ions, etc.) </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Early Quantum Career Immersion: Training and Internship Program
                            Participant | The Coding School </h4>
                        <p><small class="text-muted">Jun
                                2022 - Aug 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Acquired practical skills and knowledge in quantum computing, preparing for the future of
                            computing
                            technology. Gained valuable industry experience and exposure to the applications of quantum
                            computing in fields
                            such as healthcare,
                            finance, and cybersecurity. Developed teamwork and collaboration skills through working with
                            peers and mentors from diverse
                            backgrounds,
                            contributing to a diverse quantum workforce. </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Cybersecurity & Cloud Computing Fellowship Participant | America On
                            Tech </h4>
                        <p><small class="text-muted">Mar 2022 - May 2022</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Developed skills in using tools such as Postman for API testing and validation, contributing
                            to
                            efficient cybersecurity
                            and cloud computing workflows. Engaged in professional development activities, enhancing
                            skills related to cybersecurity and cloud
                            computing careers,
                            such as resume building, interview preparation, and career guidance. Developed skills in
                            using tools such as Postman for API testing and validation, contributing to
                            efficient cybersecurity
                            and cloud computing workflows. </p>
                    </div>
                </div>
            </li>

    </div>

    {% include "scripts.html" %}
</body>

</html>