<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="experience" id="experience">
        <div class="work">
            <h2>Work Experience</h2>
            <h4>Site Reliability Engineer Intern | Major League Hacking | June 2023 - Current</h4>
            <ul>
                <li>
                    Collaborated effectively within cross-functional teams, communicating technical concepts clearly to
                    developers,
                    operations staff, and stakeholders.
                </li>
                <li>
                    Demonstrated strong problem-solving and analytical thinking abilities, employing data-driven
                    decision-making to optimize
                    performance and reliability.
                </li>
            </ul>
            <h4>Physics Coach | Syracuse University College of Arts and Sciences | Jan 2023 - Current</h4>
            <ul>
                <li>
                    Co-teaches three physics recitations of 25 students each in bi-weekly recitations, and guides
                    students through work
                    packet
                </li>
                <li>
                    Collaborates with 10 facilitators through weekly work packet to prepare for physic recitations
                </li>
                <li>
                    Develops and prototypes course material for course professor to intergrade computational skills into
                    Physics 211
                    curriculum
                </li>
            </ul>
            <h4>AEW Facilitator| Syracuse University College of Engineering and Computer Science | Aug 2023 - Jan 2023
            </h4>
            <ul>
                <li>
                    Prepare calculus course material ahead of the assigned workshop to reinforce class topics and
                    formulae appropriate responses to potential participant questions
                </li>
                <li>
                    Provide a collaborative learning environment by utilizing leadership skills and in-depth knowledge
                    of
                    the subject area to make group learning
                    (6-9 students) fun and enable them to relate concepts to math, engineering, and computer science
                </li>
                <li>
                    Facilitate and manage the group dynamics of a weekly small group workshop by coaching participants
                    to focus on subject mastery vs. memory
                </li>
            </ul>
            <h4>Early Quantum Career Immersion: Training and Internship Program Participant | IBM | Jun 2022 - Aug 2022
            </h4>
            <ul>
                <li>
                    Problem-solving and Analytical Thinking in Quantum Computing
                </li>
                <li>
                    Continuous Learning and Keeping Abreast of Quantum Computing Advancements
                </li>
                <li>
                    Quantum Hardware Understanding (superconducting qubits, trapped ions, etc.)
                </li>
            </ul>
            <h4>Early Quantum Career Immersion: Training and Internship Program Participant| The Coding School | Jun
                2022 - Aug 2022
            </h4>
            <ul>
                <li>
                    Acquired practical skills and knowledge in quantum computing, preparing for the future of computing
                    technology.
                </li>
                <li>
                    Gained valuable industry experience and exposure to the applications of quantum computing in fields
                    such as healthcare,
                    finance, and cybersecurity.
                </li>
                <li>
                    Developed teamwork and collaboration skills through working with peers and mentors from diverse
                    backgrounds,
                    contributing to a diverse quantum workforce.
                </li>
            </ul>
            <h4>Cybersecurity & Cloud Computing Fellowship Participant| America On Tech | Mar
                2022 - May 2022
            </h4>
            <ul>
                <li>
                    Developed skills in using tools such as Postman for API testing and validation, contributing to
                    efficient cybersecurity
                    and cloud computing workflows.
                </li>
                <li>
                    Engaged in professional development activities, enhancing skills related to cybersecurity and cloud
                    computing careers,
                    such as resume building, interview preparation, and career guidance.
                </li>
                <li>
                    Developed skills in using tools such as Postman for API testing and validation, contributing to
                    efficient cybersecurity
                    and cloud computing workflows.
                </li>
            </ul>
        </div>
    </section>
</body>

</html>