<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="experience" id="experience">
        <div class="work">
            <h2>Work Experience</h2>
            <h4>Site Reliability Engineer Intern | Major League Hacking | June 2023 - Current</h4>
            <ul>
                <li>
                    Collaborated effectively within cross-functional teams, communicating technical concepts clearly to
                    developers,
                    operations staff, and stakeholders.
                </li>
                <li>
                    Demonstrated strong problem-solving and analytical thinking abilities, employing data-driven
                    decision-making to optimize
                    performance and reliability.
                </li>
            </ul>

        </div>
    </section>
</body>

</html>